#pricing-CompBiblic{
    display: flex;
    flex-direction: column;

}

#ctamain{
    background: #00f37a;
    color: black;
    box-shadow: 2px 2px 55px -5px #00f37a;
    padding: 15px;
    font-family: Lato, sans-serif;
    border: solid 1px;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: calc(var(--radius) - 2px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    margin-top: 5%;
}
